/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-weight: var(--main-font-weight);
}

.page__container-inline-size {
  inline-size: var(--page-width);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid rgba(0, 0, 0, 1);
  margin: 0 auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) 0 clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem);
  font-family: var(--pixel-font), sans-serif;
  text-transform: uppercase;
}

.header__title {
  font-weight: var(--main-font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__description {
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.main__section-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 1);
}

.main__section-title {
  font-size: 18px;
  font-weight: var(--head-font-weight);
  margin: 3px 24px 3px 10px;
}

.card__content-text {
  display: flex;
  flex-direction: column;
  padding: 27px 25px 25px 25px;
  gap: 27px;
}

.main__section-text {
  font-size: 18px;
  font-weight: var(--main-font-weight);
}

.card__content-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 25px 25px 0;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main__button {
  border: 2px solid rgba(0, 0, 0, 1);
  font-family: var(--pixel-font);
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 335px;
  min-block-size: 55px;
  gap: 10px;
}

.button__text {
  font-size: 14px;
}

.save__button-svg {
  inline-size: 20px;
  block-size: 20px;
}

.section__image {
  position: relative;
}

.main__section-image {
  inline-size: 100%;
  block-size: 100%;
  justify-self: center;
}

.image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--pixel-font), sans-serif;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.5;
  text-shadow:
    -1px 0 #fff,
    0 1px #fff,
    1px 0 #fff,
    0 -1px #fff;
}

@supports (-webkit-text-stroke: 1px #fff) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.save__dialog {
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px
}

.save__dialog:open {
  display: flex;
}

.save__dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content-svg-container {
  inline-size: 39px;
}

.dialog__content-svg {
  inline-size: 39px;
  align-self: center;
  fill: #000;
}

.dialog__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.dialog__content-text {
  font-family: var(--pixel-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  display: block;
}

.dialog__button {
  inline-size: 100%;
  padding: 12.5px;
  text-transform: uppercase;
}